body {
  overflow: hidden;
  margin: 0px;
  padding: 5px;
  background: white;
}
div {
  width: 220px;
  font-size: 15px;
  padding: 10px;
  display: flex;
}
span {
  cursor: pointer;
  flex: 8;
}
span:last-child {
  flex: 4;
  color: #3c4fffb4;
}
#mount {
  width: 146px;
}
select {
  width: 150px;
}
